<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pizza service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet"
          href="webjars/bootstrap/5.2.3/dist/css/bootstrap.css" />
</head>

<body>

<div th:replace="fragments/header :: header(module='staff')">...</div>
<div class="container">
    <main>
        <div class="py-5 text-center">
            <h1>Register new staff members</h1>
            <p class="lead">Register new staff to maintain menu card and process orders.</p>
        </div>
        <div class="row g-5">

            <form class="needs-validation" method="POST" th:action="@{/register}" id="registerForm">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <label for="username" class="form-label">Username: </label>
                <input class="form-control" type="text" name="username"/><br/>

                <label for="password" class="form-label">Password: </label>
                <input class="form-control" type="password" name="password"/><br/>

                <label for="confirm" class="form-label">Confirm password: </label>
                <input class="form-control" type="password" name="confirm" /><br/>

                <label for="fullname" class="form-label">Full name: </label>
                <input class="form-control" type="text" name="fullname" /><br/>


                <input class="btn btn-primary btn-lg" type="submit" value="Register"/>
            </form>

        </div>


    </main>

</div>





</body>
</html>