<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">    
    <head>
        <title>Pizza service</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet"
              href="webjars/bootstrap/5.2.3/dist/css/bootstrap.css" />
    </head>
    <body>
         <div th:replace="fragments/header :: header(module='home')">...</div>
    </body>
    
</html>
