<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">    
    <head>
        <title>Pizza service</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet"
              href="webjars/bootstrap/5.2.3/dist/css/bootstrap.css" />
    </head>
    <body>
         <div th:replace="fragments/header :: header(module='home')">...</div>
         <div class="container">
             <main>
                 <div class="py-5 text-center">
                     <img class="d-block mx-auto mb-4" src="pizza.svg" alt="" width="72" height="57">
                     <h1 data-th-text="#{welcome}">Welcome!</h1>
                     <p class="lead">This is a Spring Boot demo project for training purpose.</p>
                 </div>

             </main>

         </div>
    </body>
    
</html>
