<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">    
    <head>
        <title>Pizza service</title>
    </head>
    <body>
        <h1>Welcome to pizza service</h1>
         <a th:href="@{/menu}" id="menu">Go to the menu card...</a>
         <a th:href="@{/order}" id="order">Make an order...</a>
    </body>
    
</html>
