<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Pizza Service Ordering</title>
        <link rel="stylesheet"
              href="webjars/bootstrap/5.2.3/dist/css/bootstrap.css" />
    </head>
    <body>
        <div th:replace="fragments/header :: header(module='order')">...</div>
        <h1>Put your orders</h1>
        <div class="grid">
            <table>
                <thead>
                    <tr>
                        <th th:text="#{msgs.headers.name}">Name</th>
                        <th th:text="#{msgs.headers.price}">Price</th>
                        <th th:text="#{msgs.headers.amount}">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="menu: ${menuList}">
                        <td th:text="${menu.name}">Oranges</td>
                        <td th:text="${#numbers.formatDecimal(menu.price, 1, 2)}">0.99</td>
                        <td>
                            <div>
                                <form  method="POST" th:action="@{/order-item}" th:object="${orderItem}">
                                    <input  type="hidden" name="dishkey" th:value="${menu.businesskey}" />
                                    <input  type="hidden" name="dishname" th:value="${menu.name}" />
                                    <input  name="amount" type="number" value="0" min="1" max="99"/>
                                    <input  type="submit" value="Add"/>
                                </form>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
        </div>
        </form>
        <hr />
        <p>Selected</p>
        <table>
            <thead>
                <tr>
                    <th >Dish name</th>
                </tr>
            </thead>
            <tfoot />
            <tbody>
                <tr th:each="orderItem : ${@shoppingCart.content}">
                    <td th:text="${orderItem.dishname}">
                        Margarita
                    </td>
                    <td th:text="${orderItem.amount}">
                        Amount
                    </td>
                    <td>
                        <form th:method="DELETE" th:action="@{/order-item/{dish}(dish=${orderItem.dishkey})}" >
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <label for="totalPrice">Total Price</label>
        <span th:text="${@shoppingCart.totalPrice}">total price</span></li>
        <form  method="POST" th:action="@{/order}" th:object="${orderObject}">
            <input  type="submit" value="Checkout Shopping cart"/>
        </form>        
    </body>
</html>